*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify{
    justify-content: space-between;
}



header{
    width: 230px;
    height: calc(100vh - 100px);
    background-color: black;
    color:#a1a1a1;
    padding: 0.7rem
}
main{
    width: calc(100% - 230px);
    background-color: #141922;
    overflow-y: scroll;
}
footer{
    height: 100px;
    width: 100%;
    background-color: grey;
}
ul{
    list-style-type: none;
}

.container{
    border: 1px solid white;
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo img{
    width: 80%;
}

/* main */

.main-header{
    height: 100px;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
}
.main-header .button{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
}
.list{
    text-align: center;
    height: 5%;
    border: 1px solid white;
}
.list li{
    display: inline;
    color: #a1a1a1;
    margin: 1rem;
}
.section-container{
    width: 100%;
    height: 300px;
    border: 1px solid yellow;
    margin-top: 1rem;
}
.section-container h2,
.section-container h3{
    color: white;
}
.disc{
    height: 250px;
    width: calc((100% / 6) -1rem);
    margin: 0.5rem;
    border: 1px solid yellowgreen;
}
.img-part{
    height: 70%;
}
.disc img{
    height: 100%;
    width: 220px;
}



/* QUERIES M MIN 768PX */
@media screen and (min-width: 768px) {
    
}


/* QUERIES S MIN 576 */
@media screen and (min-width: 576px){

}

/* QUERIES XS  576PX*/

@media screen and (max-width: 576px) {
    header{
        width: 100px;
    } 
    main{
        width: calc(100% - 100px); 
    }
    
}

/* QUERIES H 350PX */