*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/* utilities */
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify{
    justify-content: space-between;
}



header{
    width: 230px;
    height: calc(100vh - 80px);
    background-color: black;
    color:#a1a1a1;
    padding: 0.7rem
}
main{
    height: calc(100vh - 80px);
    width: calc(100% - 230px);
    background-color: #141922;
    overflow-y: scroll;
}
footer{
    height: 80px;
    width: 100%;
    background-color: #282828;
    align-items: center;
    
}
ul{
    list-style-type: none;
}

.container{
    /* border: 1px solid white; */
    width: 98%;
    height: 100%;
    margin: 0 auto;
}
h2,
h3{
    color: white;
}

.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo img{
    width: 80%;
}
.header-list{
    margin-top: 1rem;
}
.header-list li{
    line-height: 2.2rem;
}
.header-list li>h3{
    margin-top: 1rem;
}
/* main */

.main-header{
    height: 80px;
    background-color: #080b12;
    justify-content: flex-end;
    align-items: center;
}
.main-header .button{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    border-radius: 2rem;
    margin-right: 0.5rem;
}
.list{
    text-align: center;
}
.list li{
    display: inline;
    color: #a1a1a1;
    margin: 1rem;
}
.section-container{
    width: 100%;
    margin-top: 1.5rem;
}

.cards{
    width: 100%;
    padding-top:2rem;
}
.card{
    height: 100%;
    width: calc((100% / 6) - 1rem);
    margin: 0.5rem;
    text-align: center;
}
.card img{
    max-width: 100%;
}


/* footer  */
.player{
    width: 100%;
    align-items: center;
}
.footer-section{
    width: calc((100% / 3) - 1rem); 
    margin: 0.5rem; 
    text-align: center;
}






/* QUERIES M MIN 768PX */
@media screen and (min-width: 768px) and (max-width: 998px){
   .cards{
    flex-wrap: wrap;
    max-width: 768px;
   }    
   .card{
    width: calc(25% - 1rem);
    margin: 0.5rem;
} 
}


/* QUERIES S MIN 576 */
@media screen and (min-width: 576px) and (max-width: 767px){
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: calc(50% - 1rem);
    }
}

/* QUERIES XS  576PX*/

@media screen and (max-width: 576px) {
    header{
        width: 100px;
    } 
    main{
        width: calc(100% - 100px); 
    }
    .cards{
        flex-wrap: wrap;
    }
    .card{
        width: calc(50% - 1rem);
    }
}

/* QUERIES H 350PX */